@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo geral */
html,body {
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilo da barra de navegação */
.container-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}

.container-nav h1{
    text-align: center;
    font-weight: normal;
}

.container-filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container-filters form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.container-filters button {
    width: 100%;
    padding: 10px;
    background-color: #359b47;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.container-filters button:hover {
    background-color: #007722;
}

.container-filters input {
    padding: 10px;
    border: 3px solid #359b47;
    border-radius: 12px;
    font-size: 16px;
}

/* Ordenação alfabetica */
.order-name {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
}

.order-name a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.order-name a:hover {
    background-color: #f2f2f2;
}

.order-name img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}


/* Ordenação por coletor */
.order-coletor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.select-container select {
    appearance: none;
    padding: 12px 40px 12px 16px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.select-container select:hover {
    background-color: #f2f2f2;
}

.select-container select:focus {
    outline: none;
}

.select-container img {
    position: absolute;
    right: 10px;
    width: 20px;
    pointer-events: none;
}


/* Estilo do conteúdo principal */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

/* Estilo dos cartões */
.card {
    position: relative;
    width: 500px;
    height: auto;
    min-height: 200px;
    border-radius: 35px;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    align-items: center;
    transition: transform 0.3s;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.card-content p {
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.descricao{
    overflow: visible;
    word-wrap: break-word;
    cursor: pointer;
}

.card-image {
    width: 180px;
    height: 180px;
    border-radius: 35px;
}

.card-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    cursor: pointer;
    border-radius: 35px;
    border-color: #359b47;
    border-width: 8px;
    border-style: solid;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.add-icon {
    font-size: 180px;
    margin-right: 20px;
    color: #359b47;
    text-decoration: none;
}

.cadastrar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.cadastrar-link h2 {
    font-size: 35px;
    color: rgb(94, 93, 93);
    font-weight: bold;
    margin: 0;
}

.card:hover, .card-add:hover {
    transform: scale(1.05);
}

/* Classes de cores */
.card.marrom {
    background-color: #8d6e63;
}

.card.azul {
    background-color: #2196f3;
}

.card.amarelo {
    background-color: #fbc02d;
}

.card.verde {
    background-color: #66bb6a;
}

.card.vermelho {
    background-color: #dd2d26;
}

.card.default {
    background-color: #707070;
}

/* Estilo das ações */
.card .actions {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.card .actions img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card .actions img:hover {
    transform: scale(1.1);
}



/* Estilo da tela de login e cadastro*/

.container-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
/* Lado esquerdo: formulário */
.form-login {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login form {
    display: flex;
    flex-direction: column;
}
  
.form-login input {
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid #359b47;
    border-radius: 10px;
    font-size: 16px;
}
  
.form-login button {
    width: 100%;
    padding: 10px;
    background-color: #359b47;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-login button:hover {
    background-color: #007722;
}
  
.criar-conta {
    margin-top: 20px;
    text-align: center;
}

.criar-conta a {
    text-decoration: none;
    color: #009933;
}
  
.criar-conta a:hover {
    text-decoration: underline;
}

/* Lado direito: imagem e texto */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 68, 35, 0.8); /* Transparência verde */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay h2 {
    padding: 100px;
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-align: left;
}  

.highlight {
    color: #359b47;
}

.titulo {
    text-align: left;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}

/* Estilo do Cadastro */
.form-cadastro {
    height: 100%;
    max-width: 400px;
    height: auto;
    padding: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-cadastro form {
    display: flex;
    flex-direction: column;
}

.form-cadastro label {
    font-size: 18px;
    margin-bottom: 8px;
}

.form-cadastro input {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #359b47;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-cadastro input:focus {
    border-color: #007722;
    outline: none;
}

.select-coletor select {
    width: 100%;
    appearance: none;
    border: 2px solid #359b47;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 15px;
}

.select-coletor select:focus {
    border-color: #007722;
    outline: none;
}

/* Estilo do Botão */
.botoes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botoes button {
    flex: 1;
    padding: 12px;
    background-color: #359b47;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botoes button:hover {
    background-color: #007722;
}

/* Campo de foto */
input[type="file"] {
    padding: 10px;
    border: 2px solid #359b47;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

/* Estilo para campos de texto, email e senha */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border-color: #007722;
    outline: none;
}